* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #c5dee2;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3c7e92;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav{
    background-color: #87b0bd;
    padding: 15px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #003747;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #c5dee2;
    box-shadow: 0 4px 8px rgba(58, 58, 58, 0.2);
}

h1 {
    text-align: center;
    color: #003747;
}

h2 {
    text-align: center;
    color: #c5dee2;
}

div {
    padding: 10px;
}

footer {
    background-color: #003747;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: large;
}

.texto{
    margin: 10px auto;
    padding: 30px;
    max-width: 1000px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: large;
    color: #3c7e92;
}

.titulos{
    text-align: center;
    color: #003747;
}

.imagens{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

hr{
    border: none; 
    height: 2px; 
    background-color: #3c7e92; 
    width: 50%; 
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

